body {
    background: url("../images/parrot_background_rotate.jpg"), url("../images/parrot_background.jpg");
    background-repeat: repeat-x, repeat-y;
	background-size: 100%;
	font-family: 'Magra', sans-serif;
}
.jumbotron {
	background-color: inherit;
	text-align: center;
    height: 300px;
}
#glow {
    text-shadow: 0;

}
#newSearch {
    margin-left: 2%;
    margin-bottom: 20px;
    text-align: center;
    font-size: 50px;
    
    border-radius: 8px;
    border: none;
    border-style: none;
    background-color: Transparent;
    -webkit-animation:colorchange 10s infinite alternate;
      
}

@-webkit-keyframes colorchange {
  25% {
    color: white;
  }

  50% {
    color: rgb(26, 65, 240);
  }

  75% {
    color: rgb(225, 248, 19);
  }

  100% {
    color: rgb(255, 0, 212);
  }
}

#clearResults {
    margin-left: 0;
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid white;
    box-shadow: 4px 10px 20px 4px rgba(63, 62, 62, 0.315), 4px 4px 20px 0 rgba(0, 0, 0, 0.678);
    border-radius: 8px;

}


h2 {
   margin-top: -20px;
   color: white;
   margin-left: 2%;

}

h4 {
    margin-left: 2%;
    font-size: 25px;
    font-style: bold;
}
.logo {
	height: 250px;
	width: 500px;
	margin-left: 200px;
	margin-top: -50px;
	transform: rotate(5deg);
}

h1 {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 70px;
}

.container {
    margin-top: -30px;
}

.col-xs-3 {
    float: left;
    height: 200px;
    margin-left: 5%;
    text-align: center;
    border: 1px solid white;
    box-shadow: 4px 10px 20px 4px rgba(63, 62, 62, 0.315), 4px 4px 20px 0 rgba(0, 0, 0, 0.678);
    border-radius: 8px;
    padding-top: 30px;



}
.img-description {
    float: absolute;
    visibility: visible;
    opacity: 0;
    transform: translate3d(0px, 0px, 0px);
    transition: transform .2s ease-in-out;
    
    
}
.container:hover .overlay {
    width: 100%;
    transform: translate3d(150px, 0px, 0px);
    transition: transform .2s ease-in-out;
    
    
    
       
}

#beer:hover .img-description { 
    visibility: visible;
    opacity: 1;

    height: 200px;
    margin-left: 0%;
    text-align: center;
    border: 1px solid white;
    box-shadow: 4px 10px 20px 4px rgba(63, 62, 62, 0.315), 4px 4px 20px 0 rgba(0, 0, 0, 0.678);
	border-radius: 8px;
	overflow: hidden;
        position: absolute;
        top: -150px;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        transition: .5s ease;
        transform: translate3d(0px, 150px, 0px);
        


       
      }
      #movie:hover .img-description { 
        visibility: visible;
        opacity: 1;
    
        height: 200px;
        margin-left: 0%;
        text-align: center;
        border: 1px solid white;
        box-shadow: 4px 10px 20px 4px rgba(63, 62, 62, 0.315), 4px 4px 20px 0 rgba(0, 0, 0, 0.678);
		border-radius: 8px;
		overflow: hidden;
            position: absolute;
			top: -150px;
			bottom: 0;
			left: 0;
			right: 0;
			height: 100%;
			width: 100%;
			transition: .5s ease;
			transform: translate3d(0px, 150px, 0px);
            
          }
          #food:hover .img-description { 
            visibility: visible;
            opacity: 1;
        
            height: 200px;
            margin-left: 0%;
            text-align: center;
            border: 1px solid white;
            box-shadow: 4px 10px 20px 4px rgba(63, 62, 62, 0.315), 4px 4px 20px 0 rgba(0, 0, 0, 0.678);
			border-radius: 8px;
			overflow: hidden;
                position: absolute;
				top: -150px;
				bottom: 0;
				left: 0;
				right: 0;
				height: 100%;
				width: 100%;
				transition: .5s ease;
				transform: translate3d(0px, 150px, 0px);
                
              }
      
    

#beer {
    margin-left: 8%;
    background-color: rgb(255, 0, 191);
}
#movie{
    background-color: rgb(0, 174, 255);
}
#food{
    background-color: rgb(251, 255, 0);
}

#beer, #movie, #food {
    display: none;
}

.btn {
   margin: 3px;
   background-color: #999999;
   border-color: #fff;
}

.container {

    padding: 20px;
}


.h3 {
    size: 8px;
}
#footer {
    clear: both;
    margin-top: 40px;
    position: center;
    bottom: 0;
    left: 0;
    text-align: center;
    color: white;
}

.display {
	margin-top: 15px;
	border-color: black;
    padding: 5px;
    height: auto;
    background-color: lemonchiffon;

}
#img-beer, #img-movie, #img-food {
	padding: 0px;

}

.displayImg {
    width: auto;
    max-height: 417px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    
}

.foodImg {
    height: 110px;
}

#beer-view {
    margin-left: 8%;
}

#beer-view, #movie-view, #food-view {
    height: auto;
    background-color: white;
    display: block;
    padding: 0px;
    font-weight: bold;
    border: none;
    


}
#food-view {
    background-color: transparent;
    font-style: bold;
    padding-top: 20px;
    box-shadow: none;
    padding-bottom: 10px;
    font-size: 15px;


}

#food-view .displayImg  {
    height: 150px;
    display: block;
    padding: 0px;
    font-weight: bold;
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: 2px 3px 10px 3px whitesmoke; 
    margin-bottom: 15px;

}
.logo2 {
    margin-top: -25px;
    float: right;
	transform: rotate(-15deg);
}